@import url('https://fonts.googleapis.com/css?family=Cabin|Quicksand');
@import '~@/style/reset';
@import '~@/style/vars';

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: $grey-blue;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin: 0;
  font-size: 30px;
}

h2 {
  margin: 0 0 30px 0;
  font-size: 30px;
}

h3 {
  margin: 0 0 10px 0;
  font-size: 26px;
}

a, button {
  &:hover {
    opacity: 0.8;
  }
}

p + p {
  margin-top: 20px;
}

